
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.f-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.padding80 {
    padding-top: 88px;
    padding-bottom: 80px;
}

.container {
    /* border: 1px solid #CC2D78; */
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}   

.banner {
    height: 630px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #070944;
    /* background-image: url('../img/banner.JPG'); */
    background-size: auto 640px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#close, #isClick {
    display: none;
    position: absolute;
}

#open {
    display: none;
    position: fixed;
}

#logo {
    display: none;
}

.nav-container {
    display: block;
}


.nav {
}

.list {
    display: flex;
}

.list-element {
    margin-left: 32px;
}

.title,
.element-link {
    cursor: pointer;
    color: #fff;
}

.title {
    color: #fff;
    z-index: 999;
    position: relative;
    text-align: center;
}

.element-link {
    transition: .2s;
}

.element-link:hover {
    color: #CC2D78;
    transition: .2s;
} 

.element-icon {
    display: none;
    font-size: 16px;
}

.active {
    color: #CC2D78;
}


.message-button {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 64px;
    position: relative;
}

.message {
    font-size: 48px;
    font-weight: normal;
    color: #fff;
    z-index: 3;
}


.button-time {
    width: 216px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    border-radius: 40px;
    background-color: #CC2D78;
    color: #fff;
    transition: .2s;
    z-index: 3;
}
.button-time:hover {
    background-color: #212121;
    transition: .2s;
}

/* #screen {
    position: absolute;
    /* background-color: brown; 
    top: -100px;
    z-index: 0;
} */

.about-me {
    
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-imgs {
    width: 451.80px;
    height: 504px;
    margin-right: 16px;
    position: relative;
}

.about-img {
    width: 342px;
    height: 342px;
    position: absolute;
    background-color: #CC2D78;
    border-radius: 12px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .6);
}

#img1 {
    left: 108px;
    bottom: 0;
}

.text-container {
    width: 528px;
}

.title-section {
    font-size: 48px;
}

.subtitle {
    margin: 8px 0;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
}

.comment {
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}

#offer {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/1.jpeg') no-repeat; /* o gradiente cria uma camada escura */
    background-size: cover;
}

#offer-text {
    margin: 16px 0;
}

.services {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.gallery {
    width: 100%;
    border: 1px solid springgreen;
}

.gallery-imgs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border: 1px solid slateblue;
    
}

.first-block {
    width: 49%;
    border: 1px solid saddlebrown;
}

#firstBlock {
    width: 100%;
}

.second-block {
    width: 49%;
    margin-left: 10px;
    border: 1px solid red;
}

.block-imgs2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    
}

#blockImg1 {
    width: 49%;
    border: 1px solid palegreen;
}

#blockImg2 {
    width: 49%;
    border: 1px solid palegreen;
}

.block-imgs3 {
    height: 49%;
    margin-top: 8px;
    border: 1px solid greenyellow;
}

#blockImg3 {
    width: 100%;
}

.testimonials {
}

.testimonials-content {
}

.testimonials-img {
    width: 150px;
    height: 150px;
    margin: 32px 0;
    border-radius: 50%;
    background-color: #C4C4C4;
}

#testimonials-text {
    text-align: center;
    margin-bottom: 16px;
}

#testimonials-person {
    color: #CC2D78;
}

.promotions {
    background-color: #070944;
}

.promotions-content {
    width: 60%;
}

.promotions .title-section, .promotions .comment {
    color: #fff;
}

.promotions .comment {
    margin-bottom: 32px;
}

.form-content {
    width: 100%;
    display: flex;
}

.label-email {
    width: 100%;
}

.register-email {
    width: 70%;
    height: 56px;
    display: flex;
}

#email {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    border-radius: 40px 0 0 40px;
    border: 1px solid #fff;
    font-size: 16px;
    background-color: #fff;
    color: #000000;
    outline: none;
}

#email:focus {
    border: 1px solid #CC2D78;
}

#email::-webkit-input-placeholder{
    color:#000000;
}

#email::-moz-placeholder {
    color:#000000;
}

.btn-submit {
    width: 175px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #CC2D78;
    color: #fff;
    border: none;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: .2s;
}

.btn-submit:hover {
    background-color: #212121;
    transition: .2s;
}

.footer {
    padding-bottom: 32px;
}

.footer .title {
    color: #000000;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.social-icon {
    margin-right: 8px;
}

.icon-link {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #CC2D78;
    transition: .2s ease all;
}

.icon-link:hover {
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, .6);
    transition: .2s;
}

.icon-link:hover .icon path {
    fill: #CC2D78;
    transition: .2s;
}

.icon {
    width: 24px;
    height: 24px;
}

.social-color {
    color: #fff;
}

.contact {
    padding: 0 16px;
}

.contact-link {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .7);
    position: fixed;
    bottom: 16px;
    cursor: pointer;
} 

.contact-link:hover {
    background-color: #F5F5F5;
    transition: .2s;
}

#contactClick {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
    padding-bottom: 8px;
    cursor: context-menu;
}

.contact-active {
    width: 140px;
    height: 170px;
    border-radius: 0;
    animation: contact .3s linear;
}

@keyframes contact {
    0% { width: 80px; height: 80px;}
    100% {width: 140px; height: 170px;}
}

#close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: bold;
    position: relative;
}

#closeCard {
    position: absolute;
    top: -3px;
    right: -3px;
    display: inline-block;
    cursor: pointer;
}

.card {
    height: 60px;
}

.card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, .7);
}

.card-name {
    font-weight: 400;
}

#contactClick .icon-link {
    width: 40px;
    height: 40px;
}

.card-icon {
    display: flex;
    align-items: center;
}

#contactClick .social-icons {
    width: 70%;
    justify-content: space-between;
    margin: 0;
}

.btn-top {
    width: 42px;
    height: 42px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    color: #fff;
}

.btn-top:hover {
    background-color: #212121;
    transition: .2s
}

#footer .title {
    color: #070944;
}