
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.t-color {
    color: #1a202c;
}

.bg-color {
    background-color: #070944;
}

.f-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    /* border: 1px solid #CC2D78; */
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}   

.banner {
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 24px; */
}


.banner-content {
    height: 90%;
    display: flex;
    justify-content: space-between;
    background: url('../img/banner.JPG') no-repeat;
    background-size: contain;
    background-position: right;
}



.banner-wrapper {
    width: 36%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 64px;
    padding-right: 24px;
    position: relative;
}

.message {
    font-size: 48px;
    font-weight: normal;
    color: #fff;
    z-index: 3;
}

.message-text {
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
}

.button-time {
    width: 216px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 40px;
    background-color: #CC2D78;
    color: #fff;
    transition: .2s;
    z-index: 3;
}
.button-time:hover {
    background-color: #212121;
    transition: .2s;
}

#socialIconsBanner {
    justify-content: flex-start;
    margin: 0;
}

.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, .8);

}

#close, #isClick {
    display: none;
    position: absolute;
}

#open {
    display: none;
    position: fixed;
}

#logo {
    display: none;
}

.nav-container {
    display: block;
}


.nav {
}

.list {
    display: flex;
}

.list-element {
    margin-left: 32px;
}

.list-element:first-child {
    margin-left: 0;
}

.title,
.element-link {
    cursor: pointer;
    color: #1a202c;
}

.title {
    z-index: 4;
    position: relative;
    text-align: center;
}

.element-link {
    transition: .2s;
}

.element-link:hover {
    color: #CC2D78;
    transition: .2s;
} 

.element-icon {
    display: none;
    font-size: 16px;
}

.active {
    color: #CC2D78;
}

/* #screen {
    position: absolute;
    /* background-color: brown; 
    top: -100px;
    z-index: 0;
} */

.about-me {
    background-color: #edf2f7;
    
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.about-imgs {
    width: 451.80px;
    height: 504px;
    margin-right: 16px;
    position: relative;
}

.about-img {
    width: 342px;
    height: 342px;
    position: absolute;
    background-color: #CC2D78;
    border-radius: 12px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .6);
}

#img1 {
    left: 108px;
    bottom: 0;
}

.text-container {
    width: 528px;
}

.title-section {
    font-size: 48px;
}

.comment {
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}

#offer {
    /* background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/1.jpeg') no-repeat; /* o gradiente cria uma camada escura
    background-size: cover; */
    color: #fff;
    background: url('../img/Wave.svg') no-repeat;
    background-size: cover;
    animation: waves linear 6s infinite;
}

@keyframes waves {
    
    100% {background-position: 100% 0;}
}

#offer-text {
    margin: 16px 0;
    color: #fff;
}

.services {
    display: flex;
    justify-content: space-between;

}

.card-services {
    width: 350px;
    height: 300px;
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid #fff;
}

#card1 {
    margin-right: 16px;
    margin-bottom: 16px;
}

#card2 {
    margin-left: 16px;
}

.card-title {
    margin: 8px 0;
    line-height: 1.5;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.card-comment {
    font-size: 16px;
}

#gallery {
}

.gallery {
    width: 100%;
}

#galleryComment {
    margin-bottom: 16px;
}

.gallery-imgs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    
}

.first-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person-img {
    width: 270px;
    margin-left: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: .2s;
}

.person-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}

#testimonials {
    color: #fff;
}

.testimonials-content {
}

.testimonials-img {
    width: 150px;
    height: 150px;
    margin: 32px 0;
    border-radius: 50%;
    background-color: #C4C4C4;
}

#testimonialsText {
    text-align: center;
    margin-bottom: 16px;
    color: #fff;
}

#testimonialsPerson {
    color: #CC2D78;
}

.promotions {
    background-color: #edf2f7;
}

.promotions-content {
    width: 60%;
}

#promotions-title {
    color: #070944;
}

.promotions .comment {
    margin-bottom: 32px;
}

.form-content {
    width: 100%;
    display: flex;
}

.label-email {
    width: 100%;
    position: relative;
}

.fa-envelope {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
    color: #CC2D78;
}

.register-email {
    width: 100%;
    height: 56px;
    display: flex;
}

#email {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    border: 1px solid #070944;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 16px;
    background-color: #edf2f7;
    color: #070944;
    outline: none;
}

#email:focus {
    border: 1px solid #CC2D78;
}

#email::-webkit-input-placeholder{
    color:#000000;
}

#email::-moz-placeholder {
    color:#000000;
}

.btn-submit {
    width: 175px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #CC2D78;
    color: #fff;
    border: 1px solid #CC2D78;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    transition: .2s;
}

.btn-submit:hover {
    background-color: #212121;
    transition: .2s;
}

.footer {
    padding-bottom: 32px;
}

#footerTitle {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.social-icon {
    margin-right: 8px;
}

.icon-link {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #CC2D78;
    transition: .2s ease all;
}

.icon-link:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, .6);
    transition: .2s;
}

.icon-link:hover .icon path {
    fill: #CC2D78;
    transition: .2s;
}

.icon {
    width: 24px;
    height: 24px;
}

.social-color {
    color: #fff;
}

.contact {
    padding: 0 16px;
}

.contact-link {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 999;
    bottom: 16px;
    cursor: pointer;
} 

.contact-link:hover {
    background-color: #F5F5F5;
    transition: .2s;
}

#contactClick {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
    padding-bottom: 8px;
    cursor: context-menu;
}

.contact-active {
    width: 140px;
    height: 170px;
    border-radius: 0;
    animation: contact .3s linear;
}

@keyframes contact {
    0% { width: 80px; height: 80px;}
    100% {width: 140px; height: 170px;}
}

#close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: bold;
    position: relative;
}

#closeCard {
    position: absolute;
    top: -3px;
    right: -3px;
    display: inline-block;
    cursor: pointer;
}

.card {
    height: 60px;
}

.card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, .7);
}

.card-name {
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

#contactClick .icon-link {
    width: 40px;
    height: 40px;
}

.card-icon {
    display: flex;
    align-items: center;
}

#contactClick .social-icons {
    width: 70%;
    justify-content: space-between;
    margin: 0;
}

.btn-top {
    width: 42px;
    height: 42px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    color: #fff;
}

.btn-top:hover {
    background-color: #212121;
    transition: .2s
}

#copyright {
    color: #fff;
}