
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.padding80 {
    padding-top: 88px;
    padding-bottom: 80px;
}

.container {
    border: 1px solid #CC2D78;
    padding-left: 160px;
    padding-right: 160px;
}   

.banner {
    height: 630px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #070944;
    /* background-image: url('../img/banner.JPG'); */
    background-size: auto 640px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {

}

.list {
    display: flex;
}

.list-element {
    margin-left: 32px;
}

.title,
.list-link {
    cursor: pointer;
    color: #fff;
}

.active {
    color: #CC2D78;
}


.message-button {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 32px;
}

.message {
    font-size: 48px;
    font-weight: normal;
    color: #fff;
}

.button-time {
    width: 216px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    border-radius: 40px;
    background-color: #CC2D78;
    color: #fff;
}

.about-me {
    border: 1px solid red;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    
}

.about-imgs {
    width: 451.80px;
    height: 504px;
    position: relative;
}

.about-img {
    width: 342px;
    height: 342px;
    position: absolute;
    background-color: #CC2D78;
}

#img1 {
    left: 108px;
    bottom: 0;
}

.text-container {
    width: 528px;
}

.title-section {
    font-size: 48px;
}

.subtitle {
    margin: 8px 0;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
}

.comment {
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}