@media only screen and (max-width:1012px) {
    .about-me-container {
        justify-content: center;
        border: 1px solid tomato;
    }

    .text-container {
        width: 100%;
        text-align: center;
    }

    .about-imgs {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .about-img {
        width: 300px;
        height: 300px;
        position: static;
    }

    #img1 {
        margin-right: 6px;
    }

    #img2 {
        margin-left: 6px;
    }
    
    .title-section {
        font-size: 36px;
    }
    
    .subtitle {
        font-size: 24px;
    }

    .offer {
        border: 1px solid brown;
    }

    #title-testimonials {
        text-align: center;
    }

}

@media only screen and (max-width:800px) {
    
    .promotions-content {
    }

    #open, #close {
        display: block;
        right: 24px;
        top: 32px;
        z-index: 999;
    }

    #isClick[type=checkbox]:checked ~ #open {
        display: none;
    }

    #isClick[type=checkbox]:checked ~ #close {
        display: block;
    }

    /* Criando menu lateral */
    
    .nav {
        width: 256px;
        display: block; /* depois mude para none aqui*/
        padding-top: 16px;
        position: absolute;
        z-index: 3;
        right: 0;
        top: 10px;
        border: 1px solid red;
        background-color: #fff;
        
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list-element {
        margin-left: 0;
        /* padding: 2px; */
        padding-left: 5px;
        padding-right: 5px;
    }

    .list-element:hover .element-link {
        background-color: rgba(236, 239, 241, .7);
        transition: .2s;
    }
    
    .element-link {
        display: block;
        padding: 8px;
        padding-left: 8px;
        color: #000000;
        border-radius: 5px;
        transition: .2s;
    }

    .element-icon {
        display: inline;
        margin-right: 5px;width: 18px;
    }
    
    #isClick[type=checkbox]:checked ~ .nav {
        display: block;   
    }
    
    .message-button {
        width: 100%;
    }
    
    .message {
        
        font-size: 36px;
    }
    
}
