@media only screen and (max-width:1270px) {
    /* 
    eu quero pegar a imagem
    diminuir ela e manter na esqueda
    
    */
    .banner-content {
        background-size: 55% auto;
    }

    .banner-wrapper {
        width: 45%;
    }
}

@media only screen and (max-width:1160px) {
    /* .about-imgs {
        justify-content: center;
    } */

    .about-me-container {
        justify-content: center;
    }
    
    .text-container {
        width: 100%;
        text-align: center;
    }

    .comment {
        margin-bottom: 16px;
    }
}

@media only screen and (max-width:1012px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .list-element {
        margin-left: 24px;
    }
     
    .banner-wrapper {
        padding-bottom: 0;
    }

    .about-me-container {
        justify-content: center;
        border: 1px solid tomato;
    }

    .about-imgs {
        height: auto;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .about-img {
        width: 300px;
        height: 300px;
        position: static;
    }

    #img1 {
        margin-right: 6px;
    }

    #img2 {
        display: none;
        margin-left: 6px;
    }
    
    .title-section {
        font-size: 36px;
    }

    .offer {
        border: 1px solid brown;
    }

    #title-testimonials {
        text-align: center;
    }

}

@media only screen and (max-width:800px) {
    
    .padding {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .header {
        justify-content: center;
    }

    .promotions-content {
        width: 100%;
    }


    #isClick {
    }

    #open, #close {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        color: #070944;
    }
    
    #open { 
        padding: 5px;
        right: 16px;
        top: 24px;
        background-color: #fff;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .6);
    }
    
    #close {
        display: block;
        padding: 3px 10px;
        border-radius: 50%;
        top: 3px;
        right: 12px;
        z-index: 999;
        transition: .2s;
    }
    
    #close:hover {
        background-color: #fff;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .6);
        transition: .2s;
    }
    
    #isClick[type=checkbox]:checked ~ .nav-container #open {
        display: none;
    }

    #isClick[type=checkbox]:checked ~ #close {
    }

    /* Criando menu lateral */
    
    .nav-container {
        width: 0vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 990;
        background-color: rgba(0, 0, 0, .6);
    }

    #logo {
        display: block;
        padding-left: 12px;        
        padding-bottom: 12px;
        text-align: left;
        color: #070944;
        z-index: 50;
    }

    .nav {
        width: 256px;
        height: 100%;
        display: block; /* depois mude para none aqui*/
        padding-top: 16px;
        position: absolute;
        z-index: 3;
        right: -250px;
        top: 0px;
        background-color: #fff;
        transition: .2s;
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list-element {
        margin-left: 0;
        /* padding: 2px; */
        padding-left: 5px;
        padding-right: 5px;
    }

    .list-element:hover .element-link {
        background-color: rgba(7, 9, 68, .2);
        transition: .2s;
    }
    
    .element-link {
        display: block;
        padding: 8px;
        padding-left: 8px;
        color: #070944;
        border-radius: 5px;
        transition: .2s;
    }

    .element-icon {
        display: inline-flex;
        justify-content: center;
        width: 8px;
        margin-right: 5px;width: 18px;
    }
    
    #isClick[type=checkbox]:checked ~ .nav-container {
        width: 100vw;
        display: block;
    }

    #isClick[type=checkbox]:checked ~ .nav-container .nav {
        right: 0px;
    }

    .banner {
        height: 400px;
    }

    .banner {
        background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/banner.JPG') no-repeat;
        background-size: cover;
    }

    .banner-content {
        background-image: none;
        justify-content: center;
    }

    .banner-wrapper {
        width: 80%;
        height: 100%;
        align-items: center;
        padding-top: 0;
        padding-right: 0;
    }
    
    .message {
        width: 300px;
        font-size: 36px;
    }
    
    .message,
    .message-text {
        text-align: center;

    }
    
    .services {
        align-items: center;
        flex-direction: column;
    }

    .card-services {
        width: 100%;
        height: auto;
    }

    #card1, #card2 {
        margin-left: 0;
        margin-right: 0;
    }

}
